.social-links-list {
	position: relative;
	display: flex;
	flex-direction: row;
	column-gap: 25.6rem;
	align-items: center;
	flex: 0 0 auto;

	@media (width >= 768px) {
		column-gap: 32rem;
	}
}

.social-links-list__item {
	position: relative;
}

.social-links-list__link {
	position: relative;
}