.section-contact {
	position: relative;
	background: var(--dark-grey);
	padding: 60rem 16rem 87rem 16rem;
	overflow: hidden;

	@media (width >= 768px) {
		padding: 60rem 32rem 92rem 32rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 48rem;
	}
}

.section-contact__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20rem;

	@media (width >= 768px) {
		max-width: 445rem;
		width: 100%;
	}
}

.section-contact__title {
	font-weight: 700;
	font-size: 40rem;
	line-height: 100%;
	letter-spacing: -0.03em;
	text-align: center;
	color: var(--white);

	@media (width >= 768px) {
		font-size: 72rem;
	}
}

.section-contact__text {
	font-weight: 500;
	font-size: 16rem;
	line-height: 162%;
	text-align: center;
	color: var(--grey);
	min-width: 343rem;

	@media (width >= 768px) {
		font-size: 18rem;
		line-height: 156%;
		min-width: unset;
	}
}

.section-contact__circles-image {
	position: absolute;
	bottom: 97rem;
	left: -343rem;
	width: 530rem;
	height: 129rem;
	z-index: 2;
	max-width: unset;

	@media (width >= 768px) {
		bottom: 27rem;
		left: -368rem;
	}
}

.section-contact__form {
	position: relative;
	margin-top: 50rem;
	z-index: 3;

	@media (width >= 768px) {
		margin-top: unset;
		max-width: 445rem;
		width: 100%;
	}
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 32rem;
}

.input-field {
	position: relative;
}

.input {
	font-weight: 500;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: -0.01em;
	color: var(--white);
	text-transform: uppercase;
	padding: 0 24rem 16rem 24rem;
	border-bottom: 1rem solid var(--white);
	width: 100%;

	&::placeholder {
		font-weight: 500;
		font-size: 16rem;
		line-height: 162%;
		letter-spacing: -0.01em;
		color: rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}
}

.input--type--text {
	position: relative;
}

.input--type--email {
	position: relative;
}

.textarea {
	font-weight: 500;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: -0.01em;
	color: var(--white);
	text-transform: uppercase;
	resize: none;
	padding: 0 24rem 81rem 24rem;
	border-bottom: 1rem solid var(--white);
	width: 100%;


	&::placeholder {
		font-weight: 500;
		font-size: 16rem;
		line-height: 162%;
		letter-spacing: -0.01em;
		color: rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}
}

.button {
	position: relative;
	font-weight: 700;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: 0.14em;
	color: var(--white);
	text-transform: uppercase;
	display: flex;
	flex-direction: column-reverse;
	row-gap: 10rem;
	align-self: flex-end;

	&::before {
		content: '';
		position: relative;
		width: 100%;
		height: 2rem;
		background: var(--green);
	}
}