.skills-section {
	position: relative;
	padding: 0 16rem 80rem 16rem;
	overflow: hidden;

	@media (width >= 768) {
		padding: 0 32rem 50rem 32rem;
	}

	@media (width >= 1440px) {
		padding: 0 165rem 70rem 165rem;
	}
}

.skills-section__content {
	position: relative;
	padding: 40rem 0;
	border-top: 1rem solid var(--white);
	border-bottom: 1rem solid var(--white);
	z-index: 2;

	@media (width >= 768px) {
		border-bottom: unset;
		padding: 52rem 0 50rem 0;
	}

	@media (width >= 1440px) {
		padding: 72rem 0 70rem 0;
	}
}

.skills-section__circles-image {
	position: absolute;
	top: 540rem;
	right: -350rem;
	max-width: unset;
	z-index: 1;

	@media (width >= 768px) {
		top: 387rem;
		right: -332rem;
	}

	@media (width >= 1440px) {
		top: 253rem;
		right: -239rem;
	}
}

.skills-section__skills-and-experience-list {
	position: relative;
}

.skills-and-experience-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24rem;

	@media (width >= 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 52rem;
		column-gap: 7rem;
		justify-content: flex-start;
		max-width: 708rem;
	}

	@media (width >= 1440px) {
		row-gap: 58rem;
		column-gap: 35rem;
		justify-content: flex-start;
		max-width: unset;
	}
}

.skills-and-experience-list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;

	@media (width >= 768px) {
		flex: 0 0 clamp(329rem, 44.0051vw, 345rem);
		row-gap: 14rem;
		align-items: flex-start;
	}

	@media (width >= 1440px) {
		flex: 0 0 clamp(340rem, 23.69vw, 345rem);
	}
}

.skills-and-experience-list__skill {
	font-weight: 700;
	font-size: 32rem;
	line-height: 125%;
	letter-spacing: -0.03em;
	text-align: center;
	color: var(--white);

	@media (width >= 768px) {
		font-size: 48rem;
		line-height: 117%;
	}
}

.skills-and-experience-list__skill--style--uppercased {
	text-transform: uppercase;
}

.skills-and-experience-list__experience {
	font-weight: 500;
	font-size: 16rem;
	line-height: 162%;
	text-align: center;
	color: var(--grey);

	@media (width >= 768px) {
		font-size: 18rem;
		line-height: 156%;
	}
}