.link {
	--link-height: 25.92rem;

	position: relative;
	display: flex;
	flex-direction: column-reverse;
	row-gap: 10rem;

	&::before {
		content: '';
		position: relative;
		width: 100%;
		height: 2rem;
		background: var(--green);
	}
}

.link__content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: var(--link-height);
	overflow: hidden;
}

.link__text {
	font-weight: 700;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

.link__text--color--white {
	color: var(--white);
}

.link__text--color--green {
	color: var(--green);
}