.button {
	position: relative;
	font-weight: 700;
	font-size: 16rem;
	line-height: 162%;
	letter-spacing: 0.14em;
	color: var(--white);
	text-transform: uppercase;
	display: flex;
	flex-direction: column-reverse;
	row-gap: 10rem;
	align-self: flex-end;

	&::before {
		content: '';
		position: relative;
		width: 100%;
		height: 2rem;
		background: var(--green);
	}
}