.icon {
	position: relative;
}

.icon--type--github {
	width: 20rem;
	height: 20rem;

	@media (width >= 768px) {
		width: 25rem;
		height: 24rem;
	}
}

.icon--type--frontend-mentor {
	width: 19rem;
	height: 17rem;

	@media (width >= 768px) {
		width: 24rem;
		height: 21rem;
	}
}

.icon--type--linkedin {
	width: 19rem;
	height: 19rem;

	@media (width >= 768px) {
		width: 24rem;
		height: 24rem;
	}
}

.icon--type--twitter {
	width: 19rem;
	height: 16rem;

	@media (width >= 768px) {
		width: 24rem;
		height: 20rem;
	}
}

.icon--type--exclamation-mark {
	width: 24rem;
	height: 24rem;
}